.StatsArticles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/Path\ 5653.png);
  background-position: top;
  background-position-y: 100px;
  background-repeat: no-repeat;
  background-size: calc(cover - 30%);
}
/* SECTION KEY NUMBERS */
.StatConso {
  margin-top: 100px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.threeContainer {
  padding: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  max-height: 65vh;
  height: 500px;
  background-color: white;
}
.unContainer {
  max-width: 25vw;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.threeContainer {
  padding: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  max-height: 20vh;
  height: 500px;
  background-color: white;
}
.unContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.StatChiffre {
  color: #ff4539;
  font-size: 60px;
  font-weight: bold;
}
.StatText {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  margin: 30px 60px;
}

/* SOME ARTICLES */
.someArticles {
  margin-top: 100px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.threeArticles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
}

.oneArticle {
  background-color: blue;
  max-width: 20vw;
  height: 100%;
  width: 400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0px 3px 6px #00000029;
  background-image: url(./img/Image\ 8.png);
}
.titleAndButton {
  background-color: white;
  height: 40%;
  padding: 50px;
  border-radius: 28px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.read {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #143642;
  text-decoration: none;
  font-size: 23px;
  font-family: sans-serif;
  color: #143642;
  height: 41px;
  transition: 0.2s;
  width: 45%;
}
.read:hover {
  background-color: #143642;
  color: white;
}
